/* Egg shape taken from 
https://css-tricks.com/examples/ShapesOfCSS/
*/
#egg {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 630px;
  background-color: #ccff99;
  -webkit-border-radius: 70px 70px 70px 70px / 120px 120px 80px 80px;
  border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

body{
  padding: 50px;
  background-color : #3399ff;
}


#display{
  margin: inherit;
  margin-bottom: 20px;
  width: 240px;
  height: 50px;
  padding: 5px;
  background-color: black;
  color: yellow;
  font: bold 50px sans-serif;
  text-align: center;
  font-family: 'CodeNewRomanRegular';
}
.subtract{
  background-color: red;
  font-size: 45px;
  font-weight: 900;
}
.add{
  background-color: blue;
  
}
#pauseButton{
  padding-right: 10px;
  background-color: green;
  font-size: 55px;
  width: 90px;
  height: 90px;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}
button{
/*   border-style: none; */
  color: white;
  font: bold 50px Lucida Console, sans-serif;
  width: 60px;
  height: 60px;
  display:block;
  background-color: #ccff99;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
}
button:active{
  border-style: inset;
}
button:focus{
  outline-style: none;
}
p{
  text-align: center;
  margin-top: 150px;
  /* margin-bottom: 20px; */
  font: 35px Lucida Console, sans-serif;
}
.workOrBreak{
  color: black;
  font: bold 13px Lucida Console, sans-serif;
  width: 180px;
  height: 40px;
  display:block;
     background-color: #CCCCCC;
     border-radius: 10px;
  margin: 5px;
  font-size: 18px;
}

/* Set default border as inset since the initial state is work, so this button is selected */
#workButton{
  border-style: inset;
  grid-column-start: 1;
  grid-row-start: 1;
}

/* Set default border as none since the initial state is not break, so this button is not selected */
#breakButton{
  border-style: none;
  grid-column-start: 1;
  grid-row-start: 2;
}

i{
  pointer-events:none;
}

#buttons{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-items: center;
}

#minus1{
  grid-column-start: 2;
  grid-row-start: 1;
}
#minus2{
  grid-column-start: 2;
  grid-row-start: 2;
}
#plus1{
  grid-column-start: 3;
  grid-row-start: 1;
}
#plus2{
  grid-column-start: 3;
  grid-row-start: 2;
}